<!DOCTYPE html>
{%include "header.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta content="Iniciar redefinição de senha." name="description">
    <title>Esqueci a Senha</title>
</head>
<body class="bg-light">
<main class="mb-4">
    <div class="container">
        <div class="row container justify-content-center mt-3">
            <div class="card contorno col-lg-4 col-sm-12">
                <div class="card-body text-center">
                    <h1 class="card-title texto-estilizado mt-3 mb-1 julius-sans-one-regular">Esqueci a Senha</h1>
                    <br/>
                    <div>
                        <form method="POST">
                            <input class="form-control contorno texto-estilizado mb-2" name="email" placeholder="Seu e-mail"
                                   required type="email">
                            <button class="btn btn-custom-comprar" id="Enviar-link" type="submit">Enviar link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>