<!DOCTYPE html>
{%include "header.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta content="Redefinir senha." name="description">
    <title>Redefinir Senha</title>
</head>
<body >
<main class="mb-4">
    <div class="container">
        <div class="row container justify-content-center mt-3">
            <div class="card contorno col-lg-4 col-sm-12">
                <div class="card-body text-center">
                    <h1 class="card-title texto-estilizado mt-3 mb-1 julius-sans-one-regular">Redefinir Senha</h1>
                    <br/>
                    <div>
                        <form method="POST">
                            <input class="form-control contorno texto-estilizado mb-2" name="senha" placeholder="Nova senha"
                                   required type="password">
                            <button id="redefinir-senha" class="btn btn-custom-comprar" type="submit">Redefinir senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>