<!DOCTYPE html>
{%include "header.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
</head>
<body class="bg-light">
<div class="container justify-content-center">
    {% for product in products: %}
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid rounded-start" src="static/uploads/{{ product['img'] }}" alt="..." width="400"
                     height="500">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product["name"] }}</h5>
                    <div class="align-items-center justify-content-center">
                        <form class="row"
                              action="{{ url_for('carrinho.atualizar_item', user_id=current_user['id'], product_id=product['id'])  }}">
                            <label for="quantidade" class="col-6">Quantidade:</label>
                            <input class="form-control contorno col-4 me-2" type="number" id="quantidade"
                                   name="quantidade" step="1"
                                   value="{{ product['quantidade'] }}"
                                   min="0">
                            <input type="submit" value="+" class="btn btn-custom-comprar col-2">
                        </form>
                    </div>
                    <p class="col-8">Total R${{ product["total"] }}</p>
                    <span class="col-2"></span>
                    <a type="button" class="btn btn-outline-danger col-2"
                       href="{{url_for('carrinho.deletar_item', user_id=current_user['id'], product_id=product['id'])}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr/>
<form action="{{ url_for('pagamento.ir_para_pagamento', user_id=current_user.id) }}" method="POST">

    <div class="container justify-content-center">
        <div class="d-flex justify-content-around align-items-center mt-3 mb-3">
            <div class="w-40 mt-3">
                <h5 class="texto-estilizado">Endereço de entrega:</h5>
                {% if enderecos %}
                <select id="select-endereco" name="endereco_id" class="form-select texto-estilizado contorno">
                    {% for endereco in enderecos %}
                    <option value="{{ endereco['id'] }}">
                        {{ endereco['rua'] }} nº{{ endereco['numero'] }}...
                    </option>
                    {% endfor %}
                </select>
                {% endif %}
                <a href="{{ url_for('enderecos.cadastrar_endereco', id_usuario=current_user['id']) }}"
                   class="btn btn-primary mt-2">Cadastrar Novo Endereço</a>
            </div>
            <div>
                <h5 class="texto-estilizado">Opções de envio:</h5>
                <div id="opcoes-envio"></div>
            </div>
        </div>
    </div>

    <div class="row container mx-auto my-4 justify-content-center">
        <a type="button" class="btn btn-outline-danger me-2 col-2" href="{{ url_for('carrinho.clear_checkout') }}">
            Esvaziar Carrinho
        </a>

        <button id="btn-confirmar" type="submit" class="btn btn-primary col-2">
            Confirmar Pedido
        </button>
    </div>
</form>
<script>
    const URL_CALCULAR_FRETE = "{{ url_for('pagamento.calcular_frete_rota') }}";
</script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>