<!DOCTYPE html>
<html lang="pt-br">
{% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta content="Pedidos feitos pelo usuário." name="description">
    <title>Meus Pedidos</title>
</head>
<body class="bg-light" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="8.932.0">
<main>
    {% if pedidos %}
    {% for pedido in pedidos %}
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title success">{{ pedido.status }}</h5>
                <div class="align-items-center justify-content-center">
                </div>
                <p>Data: {{ pedido.data_criacao.strftime('%d/%m/%Y') }}</p>
                <p class="col-8">Total {{ pedido.total_pedido | preco_br}}</p>
                <p>Entrega em: {{ pedido.prazo_envio }} dias</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</main>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>