<!DOCTYPE html>
<html lang="pt-br">
{%include "header.html" %}
<head>
    <title>Produtos</title>
    {% with seo = SEO['produtos'] %}
    {% include 'seo.html' %}
    {% endwith %}
</head>
<body class="bg-light" data-new-gr-c-s-check-loaded="8.932.0" data-gr-ext-installed="">
<header
        class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 class="texto-estilizado mb-4 julius-sans-one-regular">Lista de produtos</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <form method="get">
    </form>
    <div class="album py-5 ">
        <div class="container position-relative">
            <div class="row g-2">
                <div class="col-3">
                    <form method="get">
                        <div class="input-group contorno mb-3">
                            <input type="text" id="busca" name="busca" class="form-control"
                                   placeholder="Buscar produto">
                            <a href="{{ url_for('produtos.produtos') }}" class="btn btn-custom-comprar"
                               style="border-color: transparent;" type="button" id="button-addon1">x</a>

                        </div>
                    </form>
                </div>
            </div>
            <div class="row g-2">
                {% for produto in lista_produtos: %}
                <div class="col-lg-3 col-md-4 me-3">
                    <div class="card shadow-sm">
                        <img class="card-img-top produto-img" src="static/uploads/{{produto.imagem}}"/>
                        <div class="card-body">
                            <p class="card-text">{{produto.nome}}</p>
                            <hr/>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{produto.preco | preco_br}}</small>
                            </div>
                            <a class="stretched-link"
                               href="{{ url_for('produtos.pagina_produto', produto_id=produto.id) }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>