<!DOCTYPE html>
<html lang="pt-br">
{%include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta content="Catálogo de produtos." name="description">
    <title>Produtos</title>
    {% with seo = SEO['produtos'] %}
    {% include 'seo.html' %}
    {% endwith %}
</head>
<body class="bg-light" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="8.932.0">
<header
        class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1 class="texto-estilizado mb-4 julius-sans-one-regular">Lista de produtos</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<main>

    <div class="album py-5 ">
        <div class="container position-relative">
            <div class="row g-2">

                <!--Barra de pesquisa-->
                <div class="col-lg-5 col-sm-5 mx-auto mb-5">
                    <div class="input-group contorno mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <svg class="bi bi-search" fill="#6B5F3B" height="22" viewBox="0 0 16 16"
                                 width="16" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </span>
                        <input class="form-control py-2" id="busca" name="busca"
                               oninput="buscarProdutos(this.value)" placeholder="Buscar produto"
                               type="text"/>
                    </div>
                </div>
            </div>
        </div>

        <!--Listagem de produtos-->
        <div class="row g-2" id="lista-produtos">
            {% for produto in lista_produtos %}

            <div class="col-lg-5 col-sm-5 me-3">
                <a aria-label="Visualizar detalhes do produto selecionado." class="text-decoration-none text-dark"
                   href="{{ url_for('produtos.pagina_produto', produto_id=produto.id) }}">
                    <div class="card shadow-sm">
                        <img alt="Foto do produto {{produto.nome}}" class="card-img-top produto-img"
                             src="static/uploads/{{ acessar_capa(produto.id) }}"/>
                        <hr/>
                        <div class="card-body text-center">
                            <h3 class="card-text texto-estilizado">{{produto.nome}}</h3>
                            <h4 class="text-muted">{{produto.preco | preco_br}}</h4>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/busca_produtos.js') }}"></script>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>