<!DOCTYPE html>
<html lang="pt-br">
{%include "header.html" %}
<head>
    <title>{{ produto.nome }}</title>
    <script>
        fbq('track', 'ViewContent', {
            content_name: '{{ produto.nome }}',
            content_ids: ['{{ produto.id }}'],
            content_type: 'product',
            value: {{ produto.preco }},
            currency: 'BRL'
        });
    </script>
    {% with seo = {
    'title': produto.nome + ' | Osean Bags',
    'description': produto.descricao[:160],
    'og_image': '/static/uploads/' + produto.id|string + '/' + produto.fotos[0].arquivo if produto.fotos else ''
    } %}
    {% include 'seo.html' %}
    {% endwith %}
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div id="carouselExampleControls" class="carousel carousel-dark slide col col-sm-12 mb-sm-4" data-bs-ride="carousel">
            <div class="carousel-inner">

                {% for foto in fotos %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename='uploads/' ~ foto.arquivo) }}"
                         class="d-block w-100"
                         style="max-height:400px; object-fit:cover;">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-1"></div>
        <div class="col">
            <h1>
                {{ produto.nome }}
            </h1>
            <h2 class="mb-3">
                <small class="text-muted">{{produto.preco | preco_br}}</small>
            </h2>
            {% if logged_in %}
            <a href="{{url_for('produtos.buy_product', produto_id=produto.id)}}" type="button"
               class="btn btn-sm btn-custom-comprar">Adicionar Ao Carrinho</a>
            {% else %}
            <a href="{{url_for('auth.login')}}" type="button"
               class="btn btn-sm btn-custom-comprar">Adicionar Ao Carrinho</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-4">
    <p>
        {{ produto.descricao }}
    </p>
</div>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>