<!DOCTYPE html>
{%include "header.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta content="Pagamento pendente." name="description">
    <title>Pagamento Pendente</title>
</head>
{% block content %}
<div class="d-flex justify-content-center align-items-center ">
    <div class="row text-center">
        <div class="alert alert-warning d-flex justify-content-center align-items-center" role="alert">
            <svg aria-label="Warning:" class="bi flex-shrink-0 me-2" height="24" role="img" width="24">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <div>
                O Pagamento ainda não foi confirmado.
            </div>
        </div>
        <p>Aguarde a confirmção do pagamento.</p>
        <div class="text-center">
            <a aria-label="Redirecionar para a loja." class="btn btn-primary mt-4 w-auto" href="{{url_for('geral.home')}}">Voltar para a Loja</a>
        </div>
    </div>
</div>
{% endblock %}
<footer>
    {% include "footer.html" %}
</footer>
</html>