<!DOCTYPE html>
{%include "header.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta content="Pagamento concluido." name="description">
    <title>Pagamento Concluido</title>
    <script>
        fbq('track', 'Purchase', {
            value: {{ pedido.total_pedido }},
            currency: 'BRL'
        });
    </script>
</head>
{% block content %}
<div class="container text-center mt-5">
    <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
        <svg aria-label="Success:" class="bi flex-shrink-0 me-3" height="24" role="img" width="24">
            <use xlink:href="#check-circle-fill"/>
        </svg>
        <div>
            Pagamento Confirmado!
        </div>
    </div>
    <p>Obrigado, {{ nome }}. Seu pedido está sendo processado.</p>

    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h5>Resumo da Entrega</h5>
            <p>{{ pedido.rua }}, nº {{ pedido.numero }} - {{ pedido.cidade }}</p>
            <p><strong>Método de Envio:</strong> {{ pedido.metodo_envio}}<br/>Prazo de entrega: {{ pedido.prazo_envio }}
                dias</p>
            <hr>
            <h5>Produtos</h5>
            <ul class="list-group list-group-flush">
                {% for item in produtos %}
                <li class="list-group-item d-flex justify-content-between">
                    {{ item['nome'] }} ({{ item['quantidade'] }})
                    <span>R$ {{ item['quantidade'] * item['preco_unitario'] | preco_br }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="text-center">
        <a aria-label="Redirecionar para a loja." class="btn btn-primary mt-4 w-auto" href="{{ url_for('geral.home') }}">Voltar para a Loja</a>
    </div>
</div>
{% endblock %}
<footer>
    {% include "footer.html" %}
</footer>
</html>